:root {
    --background-1: #141414;
    --background-2: #303030;
    --background-3: #3bf764;
    --font-color-1: #F1F2F4;
    --font-color-2: #A3ABB2;
    --font-color-3: #3D3D3D;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-1);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--background-3);
}

.btn-primary:hover {
    color: #141414;
    background-color: #22b341;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--font-color-1);
}

p {
    color: var(--font-color-2);
    margin: 0;
}

.bg-1 {
    background-color: var(--background-1);
}

.bg-2 {
    background-color: var(--background-2);
}

.font-color-1 {
    color: var(--font-color-1);
}

.font-color-2 {
    color: var(--font-color-2);
}

.font-color-3 {
    color: var(--font-color-3);
}

.bg-3 {
    background-color: var(--background-3);
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

.perfil-foto {
    height: 215px;
    width: 215px;
    flex-shrink: 0;
}

.perfil-foto img {
    width: 100%;
    height: 100%;
    border-radius: 500%;
    border: 3px solid var(--background-3);
}

.perfil {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.perfil-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.perfil-descricao h1 {
    font-size: 2.875rem;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

.perfil-descricao p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1;
}
#text-animated::after {
    content: '|';
    opacity: 1;
    color: var(--background-3);
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}


@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.prefil-social {
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.sobre-mim {
    padding-top: 30px;
}

.sobre-mim p {
    text-align: center;
    max-width: 60ch;
    margin: 0 auto;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
}

.btn {
    gap: 38px;
    display: flex;
}

.btn a {
    padding: 24px 42px;
    border-radius: 10px;
    display: inline-block;
}

.portifolio-botao {
    min-width: 70%;
    padding: 10px;
    display: flex;
    gap: 16px;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
}

.portifolio-botao span {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.37rem;
    line-height: 50px;
    border-radius: 10px;
    border-radius: 10px;
}

.projetos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.projetos-item img {
    width: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

.projetos-item {
    max-width: 362px;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
}

.projetos-item h2 {
    text-transform: uppercase;
    font-size: 1.13rem;
}

.projeto-foto img:hover {
    opacity: 20%;
}

.projeto-foto:hover {
    background-color: var(--background-3);
    background-image: url('../img/link.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.footer {
    padding: 70px 0 10px 0;
    text-align: center;
}

.footer p {
    font-size: 0.7rem;
}

.skills {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stacks-items {
    font-size: 90px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 84px;
}

.stacks-items i {
    flex: 1;
}


@media (max-width: 800px) {
    .container {
        max-width: 90vw;
    }

    .btn {
        gap: 15px;
    }

    .btn a {
        font-size: 0.7rem;
        padding: 19px 27px;
    }

    .btn a img {
        width: 10px;
    }

    .perfil-foto {
        height: 174px;
        width: 174px;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .perfil-descricao {
        align-items: center;
    }

    .portifolio-botao {
        width: 100%;
    }

    .portifolio-botao a {
        font-size: 0.9rem;
    }

    .stacks-items {
        font-size: 50px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 30px;
    }
}